<div class="row">
  <div class="col-6 mx-auto mt-5"></div>
  <div class="card-body">
    <h2 class="text-center">ACCEDER</h2>
    <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" formControlName="email"/>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" formControlName="password"/>
      </div>

      <button class="btn btn-primary btn-lg btn-block">Acceder</button>

    </form>

    <div class="form-group mt-3">
      <p>¿Aún no tienes cuenta?<a [routerLink]="['/register']">Crear una cuenta</a></p>
    </div>

  </div>
</div>
