<div class="row">
  <div class="col-12 mx-auto mt-5">
  <div class="card-body">
    
    <h2 class="text-center">ACCEDER</h2>

    <div class="form-group">
      <label for="exampleInputEmail1"><strong>Dni: </strong></label>
      <input type="text" class="form-control" id="inputDni" placeholder="Introduzca nombre"
        formControlName="dniFilter">
      <label for="exampleInputEmail1"><strong>Nombre: </strong></label>
      <input type="text" class="form-control" id="inputNombre" placeholder="Introduzca nombre"
        formControlName="nombreFilter">
      <label for="exampleInputEmail1"><strong>Categoria: </strong></label>
      <select class="categoria form-control" id="inputCategoria" formControlName="inputCategoria">
        <option value="" selected disabled hidden>Seleccione categoría</option>
        <option>SENIOR A</option>
        <option>SENIOR B</option>
        <option>JUVENIL A</option>
        <option>JUVENIL B</option>
        <option>JUVENIL C</option>
        <option>CADETE A</option>
        <option>CADETE B</option>
        <option>INFANTIL A</option>
        <option>INFANTIL B</option>
        <option>INFANTIL C</option>
        <option>ALEVIN A</option>
        <option>ALEVIN B</option>
        <option>ALEVIN C</option>
        <option>BENJAMIN A</option>
        <option>BENJAMIN B</option>
        <option>BENJAMIN C</option>
        <option>PREBENJAMIN FED</option>
        <option>ESC. ALEVIN</option>
        <option>ESC. BENJAMIN</option>
        <option>ESC. PREBENJAMIN</option>
        <option>VETERANOS</option>
        <option>DIRECTIVOS</option>
        <option>OTROS</option>
      </select>

      <button class="btn btn-warning btn-block" (click)="getNombreFiltro()">Enviar</button>
      <button class="btn btn-warning btn-block" (click)="reloadList()">Recargar lista</button>
    </div>

    <div class="table-responsive mt-5">
      <table class="table table-bordered table-sm ">
        <thead class="table-dark">
          <tr>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Categoria</th>
            <th>Telefono</th>
            <th>Colectivo</th>
            <th>Pregunta COVID1</th>
            <th>Pregunta COVID2</th>
            <th>Pregunta COVID3</th>
            <th>Pregunta COVID4</th>
            <th>Pregunta COVID5</th>
            <th>Pregunta COVID6</th>
            <th>Paises/CCAA visitados</th>
          </tr>
        </thead>
        <tbody *ngIf="_formularioFiltrado.length == 0">
          <tr *ngFor="let formulario of _formulario" >
            <td>{{formulario.dni}}</td>
            <td>{{formulario.nombre}}</td>
            <td>{{formulario.email}}</td>
            <td>{{formulario.direccion}}</td>
            <td>{{formulario.categoria}}</td>
            <td>{{formulario.telefono}}</td>
            <td>{{formulario.colectivo}}</td>
            <td>{{formulario.p_covid1}}</td>
            <td>{{formulario.p_covid2}}</td>
            <td>{{formulario.p_covid3}}</td>
            <td>{{formulario.p_covid4}}</td>
            <td>{{formulario.p_covid5}}</td>
            <td>{{formulario.p_covid6}}</td>
            <td>{{formulario.paises}}</td>
          </tr>
        </tbody>
      <tbody *ngIf="_formularioFiltrado.length > 0">
          <tr *ngFor="let formulario of _formularioFiltrado" >
            <td>{{formulario.dni}}</td>
            <td>{{formulario.nombre}}</td>
            <td>{{formulario.email}}</td>
            <td>{{formulario.direccion}}</td>
            <td>{{formulario.categoria}}</td>
            <td>{{formulario.telefono}}</td>
            <td>{{formulario.colectivo}}</td>
            <td>{{formulario.p_covid1}}</td>
            <td>{{formulario.p_covid2}}</td>
            <td>{{formulario.p_covid3}}</td>
            <td>{{formulario.p_covid4}}</td>
            <td>{{formulario.p_covid5}}</td>
            <td>{{formulario.p_covid6}}</td>
            <td>{{formulario.paises}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  </div>
</div>