button {
    /* outline: none !important;
    border: none; 
    background: transparent; */
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

.recargar {
    background-color: #ffd75e;
}

td.checkbox {
    position: relative;
}
td.checkbox label {
    /* Take up full width/height */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Ensure the checkbox is centered */
    display: flex;
    align-items: center;
    justify-content: center;
}