
    <table class="table table-dark">
      <thead>
      <tr>
      <th>Nombre</th>
      <th>Dni</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Categoria</th>
      <th>Colectivo</th>
      <th>Paises/CCAA visitados</th>
      <th>¿?</th>
      <th>¿?</th>
      <th>¿?</th>
      <th>¿?</th>
      <th>¿?</th>
      <th>¿?</th>
      <th>¿?</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let formulario of _formulario">
      <td>{{formulario.nombre}}</td>
      <td>{{formulario.dni}}</td>
      <td>{{formulario.email}}</td>
      <td>{{formulario.direccion}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      <td>{{formulario.colectivo}}</td>
      </tr>
      </tbody>
      </table>

